<!DOCTYPE html>
{% load static %}


<html>
<title>Croat-Change</title>
{% include "home/style.html" %}
<body>

{% include "home/header.html" %}
{% include "home/sidebar.html" %}


<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Intercanvi de monedes</h1>


      <main>
      <table id="myTable">
        <tr>
            <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(1)')" style="cursor:pointer">Nº CROATs</th>
            <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(2)')" style="cursor:pointer">Preu total</th>
            <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(3)')" style="cursor:pointer">€/CROAT</th>
            <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(4)')" style="cursor:pointer">Accepta monedes:</th>
            <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(5)')" style="cursor:pointer">Data publicacio</th>
            <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(6)')" style="cursor:pointer">Usuari</th>
        </tr>

 <tr class="item">
	  <td>54</td>
	  <td>25</td>
	  <td>0.3</td>
	  <td>1</td>
	  <td><span>1996 - 12 - 25</span><td>
	  <td>pEPITO</td>
	</tr>
	<tr class="item">
	  <td>43</td>
	  <td>32</td>
	  <td>0.2</td>
	  <td>bITCOIN</td>
	  <td><span>1996 - 04 - 05</span><td>
	  <td>HAFMAN</td>
	</tr>
    <tr class="item">
	  <td>88</td>
	  <td>21</td>
	  <td>0.3</td>
	  <td>eth</td>
	  <td><span>1966 - 06 - 03</span><td>
	  <td>loio</td>
	</tr>
    <tr class="item">
	  <td>10</td>
	  <td>12</td>
	  <td>0.122</td>
	  <td>eth</td>
	  <td><span>2001 - 01 - 03</span><td>
	  <td>loio</td>
	</tr>
    </table>
    </div>
	
    <div class="w3-third w3-container">
      <p class="w3-border w3-padding-large w3-padding-32 w3-center"><a href="afegir_anunci">Afegir anunci</a></p>
    </div>




{% include "home/rightbar.html" %}
{% include "home/footer.html" %}

<!-- END MAIN -->
</div>
</body>
</html>








