<!DOCTYPE html>
{% load static %}


<html>
<title>Croat-Change</title>
{% include "home/style.html" %}
<body>

{% include "home/header.html" %}
{% include "home/sidebar.html" %}


<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Intercanvi de monedes</h1>


      <main>
      <table id="myTable">
        <tr>
            <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(1)')" style="cursor:pointer">Nº CROATs</th>
            <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(2)')" style="cursor:pointer">Preu total</th>
            <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(3)')" style="cursor:pointer">€/CROAT</th>
            <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(4)')" style="cursor:pointer">Accepta monedes:</th>
            <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(5)')" style="cursor:pointer">Data publicacio</th>
            <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(6)')" style="cursor:pointer">Usuari</th>
        </tr>


{% for element in monedes %}
 <tr class="item">
	  <td>{{element.ncroats}}</td>
	  <td>{{element.ptotal}}</td>
	  <td>{{element.aceptamon}}</td>
	  <td><span>{{element.date}}</span><td>
	  <td>{{element.autor}}</td>
	</tr>
{% endfor %}

    </table>
    </div>
	
    <div class="w3-third w3-container">
      <p class="w3-border w3-padding-large w3-padding-32 w3-center"><a href="afegir_moneda">Afegir anunci</a></p>
    </div>




{% include "home/rightbar.html" %}
{% include "home/footer.html" %}

<!-- END MAIN -->
</div>
</body>
</html>








