<!DOCTYPE html>
{% load static %}


<html>
<title>Croat-Change</title>
{% include "home/style.html" %}
<body>

{% include "home/header.html" %}
{% include "home/sidebar.html" %}

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Mercat productes de segona mà</h1>
	<p>Explicacio de la seccio de productes de segona mà que es poden comprar amb croats.. bla bla ... Estaria be posar un buscador i altres filtres. informarnos de que es millor.</p>
	<h2 class="w3-text">Producte 1</h2>
      <p>foto + explicacio producte 1</p>




{% if anuncis %}
<ul>

{% for element in anuncis %}
	<li> {{ element.titol}} {{element.descripcio}} {{element.autor}} Publicat el: {{element.date}} {{element.num_stars}} </li>
{% endfor %}
</ul>

{% else %}
	nope
{% endif %}


    <div class="w3-twothird w3-container">
	<h2 class="w3-text">Producte 2 </h2>
      <p>foto + explicacio producte 2</p>
    </div>
  </div>

    <div class="w3-third w3-container">
      <p class="w3-border w3-padding-large w3-padding-32 w3-center"><a href="afegir_anunci">Afegir anunci</a></p>
    </div>

{% include "home/rightbar.html" %}
{% include "home/footer.html" %}

 
</body>
</html>

