<!DOCTYPE html>
{% load static %}


<html>
<title>Croat-Change</title>
{% include "home/style.html" %}
<body>

{% include "home/header.html" %}
{% include "home/sidebar.html" %}
  
<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Heading</h1>
      		  
</ul>

<form method="POST" action=""> {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="Registra'm" />
  
    </div>
    <div class="w3-third w3-container">
      <p class="w3-border w3-padding-large w3-padding-32 w3-center">AD</p>
      <p class="w3-border w3-padding-large w3-padding-64 w3-center">AD</p>
    </div>
  </div>


{% include "home/rightbar.html" %}
{% include "home/footer.html" %}

</body>
</html>



