<div class="w3-container w3-border">
  <h2>Llista chats:</h2>
  <ul class="w3-ul w3-card-4">
    <li class="w3-bar">
      <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
      <div class="w3-bar-item">
        <span class="w3-large">I Haff da pawar</span><br>
        <span>intent de Web Designer</span>
      </div>
    </li>

    <li class="w3-bar">
      <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
      <div class="w3-bar-item">
        <span class="w3-large">El oi</span><br>
        <span>el seu Support</span>
      </div>
    </li>

    <li class="w3-bar">
      <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
      <div class="w3-bar-item">
        <span class="w3-large">Wi ll</span><br>
        <span>content</span>
      </div>
    </li>
  </ul>
<p></p>
</div>
