<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l4 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <a href="/home" class="w3-bar-item w3-button"><i class="fa fa-home"></i></a> 
<a onclick="myFunction('Demo1')" class="w3-bar-item w3-button w3-hover-black">
Compra/Venda</a>
<div id="Demo1" class="w3-hide w3-border">
  <ul class="w3-ul">
    <li><a href="compra_venta" class="w3-bar-item w3-button">- Intercanvi Monedes</a></li>
    <li><a href="mercat_croat" class="w3-bar-item w3-button">- Productes segona mà</a></li>
    <li><a href="afegir_anunci" class="w3-bar-item w3-button">- Afegir anuncis</a></li>	
  </ul>  
</div>

  <a class="w3-bar-item w3-button w3-hover-black" href="comercos">Comerços</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="noticies">Noticies</a>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>


<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>


<script>
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
